.context-menu{
	width: 250px !important;
}

.node{
	max-width: 350px;
}

.node.selected, .node.selected > .title, 
.node.selected > .input > .input-title,
.node.selected > .output > .output-title {
	color: black;
}

.node.selected > * {
	border-color: black;
}
