.context-menu{
	width: 250px !important;
}

#FilterPanelHeader {
	text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: #cecece45;
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
	width: 7em;
}

#FilterPanelInfo{
    position: absolute;
    bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    display: flex;
    width: 100%;
	color: #ffffff6b;
    z-index: -1;
	font-size: 0.75em;
}

#FilterPanelInfo > span{
	align-self: flex-end;
}