{
    "presets": [
		"@babel/preset-env",
		"@babel/preset-react",
		"minify"
    ],
    "plugins": [
		"@babel/plugin-transform-runtime",
		"@babel/plugin-transform-react-jsx",
		"@babel/plugin-transform-modules-commonjs",
		[ "js-logger", { "format": { "project": false, "level": -1 } } ]
    ]
}