.links line {
	stroke-opacity: 0.5;
	stroke-width: 1.5px;
}

.nodes circle {
	stroke: var(--bgColor2);
	stroke-width: 1.5px;
}

.nodes circle:hover {
	cursor: pointer;
}

.nodes .SelectedNode{
	stroke-width: 2px;
	stroke: var(--acColor2);
}

/*
	#160F19 = Licorice (Dark Background)
	#221A26 = Raisin Black (Lightest Background)
	#4F0147 = Tyrian Purple (Strongest Accent)
	#FFE2E2 = Misty Rose (Lightest Accent)
	#FFF8F0 = Floral White (Text)

*/

:root {
	--bgColor: #160F19;
	--bgColor2: #221A26;
	--acColor: #4F0147;
	--acColor2: #FFE2E2;
	--textColor: #FFF8F0;
	--linkBlue: #816dd2;
}

body {
	background: var(--bgColor);
	margin: 8px;
	color: var(--textColor);
}

header{
	border-radius: 15px;
	background: var(--bgColor2);
	padding: 10px;
}

h1{
	margin: 0px;
}

#Content{
	margin-top: 10px;
	background: var(--bgColor2);
	padding: 5px;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
}

#Content > div{
	background: var(--bgColor);
	border-radius: 15px;
	padding: 10px;
	margin: 5px;
	display: inline-block;
	flex: 0 1 auto;
	min-height: 300px;
}

#Graph{
	overflow: hidden;
	position: relative;
}

#Content > #DocumentViewer{
	background: #f6f6f6;
	flex: 2 1 auto;
}

#Content > #GraphLayout{
	background: var(--bgColor2);
	padding: 0px;
}

#Content > #GraphLayout > div{
	border-radius: 15px;
	padding: 10px;
	background: var(--bgColor);
}

#Search{
	margin-bottom: 10px;
	padding: 0 !important;
}

.select2-selection{
	border-radius: 15px !important;
}

#Info{
	width: 100%;
}

#Tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: var(--bgColor2);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
		max-width: 350px;
}

iframe, .insertedPage{
	width: 100%;
	height: 100%;
	border-style: none;
}

.insertedPage{
	 height: 0px;
   height: -webkit-fill-available;
	 height: -moz-available;
	 height: fill-available;
}

#Content > .HasInsertedPage#DocumentViewer{
	background: var(--bgColor);
	flex: 2 1 300px;
	overflow-y: scroll;
	max-height: 468px;
}

svg{
	overflow: visible;
}

#ShowFiltersButton{
	opacity: 0.99;  /*Hack to get it above the svg stuff because z-index doesn't work for some reason*/
}

#FilterPanel.show, #FilterPanel.collapsing{
	position: absolute;
    top: 50px;
	bottom: 20px;
	left: 10px;
    right: 0px;
	display: flex;
	flex-direction: column;
	background: #67676780;
    border-radius: 8px;
	padding: 2px;
}

#FiltersList{
	list-style-type: none;
    padding: 0;
	overflow-y: scroll;
	height: 100%;
}

.DeleteFilter{
	padding: 4px;
    height: 32px;
    vertical-align: middle;
}
/*
.FilterTypeSelect{
	width: 30%;
	display: inline-block;
	padding: 5px;
}

.FilterValue{
	width: 40%;
	display: inline-block;
	padding: 5px;
}
*/
.select2-results__option{
	color: black;
	font-size: 12px;
}

#FiltersList > li{
	margin-top: 8px;
}

#FiltersList > li > .select2{
	width: 160px !important;
	margin-right: 8px;
}

#LoadingAjax{
	min-width: 410px;
	min-height: 690px;
	text-align: center;
}

#LoadingAjax span{
	margin-top: 30px;
    display: inline-block;
}

.modal-title, .modal-body{
	color: black;
}

.modal{
	background: #0b0212c4;
}

#Tooltip > .TooltipHighlighted, #Tooltip > .selflink{
	color: var(--linkBlue);
}

#Tooltip > hr {
	border-top: 3px dotted var(--linkBlue);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.CategoryPage > #CatListBox > a{
	display: inline-block;
	width: 100px;
	height: 100px;
	background: var(--bgColor2);
	border: 2px solid white;
	margin: 8px;
	border-radius: 8px;
    padding: 4px;
	font-size: small;
	word-break: break-word;
}

.CategoryPage > #CatListBox{
	flex-wrap: wrap;
	display: flex;
}
