.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: var(--bgColor2);
	stroke-width: 1.5px;
}

.nodes circle:hover {
	cursor: pointer;
}

.nodes .SelectedNode{
	stroke-width: 2px;
	stroke: var(--acColor2);
}

/*
	#160F19 = Licorice (Dark Background)
	#221A26 = Raisin Black (Lightest Background)
	#4F0147 = Tyrian Purple (Strongest Accent)
	#FFE2E2 = Misty Rose (Lightest Accent)
	#FFF8F0 = Floral White (Text)
	
*/

:root {
	--bgColor: #160F19;
	--bgColor2: #221A26;
	--acColor: #4F0147;
	--acColor2: #FFE2E2;
	--textColor: #FFF8F0;
}

html {
	color: var(--textColor);
}

body {
	background: var(--bgColor);
}

header{
	border-radius: 15px;
	background: var(--bgColor2);
	padding: 10px;
}

h1{
	margin: 0px;
}

#Content{
	margin-top: 10px;
	background: var(--bgColor2);
	padding: 5px;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
}

#Content > div{
	background: var(--bgColor);
	border-radius: 15px;
	padding: 10px;
	margin: 5px;
	display: inline-block;
	flex: 1 1 auto;
}

#Graph{
	overflow: hidden;
}

#Content > #DocumentViewer{
	background: #f6f6f6;
	min-height: 500px;
	flex: 3 1 auto;
}

#Content > #GraphLayout{
	background: var(--bgColor2);
	padding: 0px;
}

#Content > #GraphLayout > div{
	border-radius: 15px;
	padding: 10px;
	background: var(--bgColor);
}

#Search{
	margin-bottom: 10px;
	padding: 0 !important;
}

.selectize-input{
	border-radius: 15px !important;
}

#Info{
	width: 100%;
}

#Tooltip {	
    position: absolute;			
    text-align: center;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: var(--bgColor2);
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

iframe{
	width: 100%;
	height: 100%;
	border-style: none;
}

svg{
	overflow: visible;
}