.react-select__option{
	color: black !important;
}

.react-select__option--is-focused{
	color: black !important;
}

.react-select__option--is-selected{
	color: white !important;
}

.node .control{
	border: 1px white solid;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.node .control label {
	font-size: 14px;
}