@media screen and (max-width: 500px), screen and (max-height: 500px){
	#DocumentResizer{
		display: none;
	}

	#DocumentViewer{
		width: 100% !important;
	}

	#DocumentContainer{
		background: #666666f2;
	}

	#MainNodeGraph{
		transform: scale(4);
	}

	.aug-clickable:not(.disabled){
		background-color: var(--linkBlueSelf);
		color: var(--linkBlueSelf);
	}

	.aug-clickable:not(.disabled) > svg{
		fill: var(--linkBlueSelf);
	}
	
	#DocumentViewer, #FilterPanel{
		margin: 0;
		top: 40%;
		border-radius: 0px;
		position: fixed;		
		bottom: 0px;
		max-width: 100%;
	}

	#FilterPanel.out {	
		width: 100%;
	}

	#ShowFiltersButton.btn-danger {
		margin-top: 15px;
		right: 15px;
		top: 40%;
	}

	#RelationshipSelector{
		font-size: 0.9em;
		padding: 5px;
	}

	#RelationshipSelector > span{
		font-size: 1.2em;
	}

	#RelationshipSelector > form > label > input[type=checkbox]{
		width: 1.2rem;
		height: 1.2rem;
	}

	#TableOfContents{
		padding: 2.5px 0px 2.5px 2.5px;
		width: 120px;
	}
	
	#DocumentContainer.out > #InsertedPageOuter > .insertedPage{
		margin-left: 120px;
	}	

	#LoadingAjax {
		min-height: 100%;
	}

	#ShowFiltersButton.btn-light {
		bottom: 10px;
	}

	#ShortenerButton{
		left: calc(35% - (50px / 2));
		z-index: 10000;
	}
}

@media screen and (max-height: 500px){
	#MainNodeGraph{
		transform: scale(2);
	}

	#DocumentViewer{
		width: 50% !important;
		top: 45px;
	}

	#ShowFiltersButton.btn-danger {
		top: 45px;
	}

	#FilterPanel {
		top: 45px;
	}

	#FilterPanel.out {
		width: 50%;
	}

	#BackButton{
		top: 55px;
	}

	#DocumentViewerOpenButton{
		top: 55px;
	}

	#DocumentViewerOpenButton{
		width: 165px;
	}

	#DocumentViewerToolbar > #ExternalLinkGroup > button:not(:last-child){
		margin-right: 3px;
	}
}