@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,500&display=swap');
.links line {
	stroke-opacity: 0.5;
}

.nodes .SelectedNode > circle{
	stroke-width: 2px;
	stroke: var(--acColor2);
}

.node circle {
	cursor: pointer;
	stroke: var(--bgColor2);
	stroke-width: 1.5px;
}

.nodes .SelectedNode > text{
	font-weight: bold;
	fill: var(--acColor2);
}

.node text {
	font-size: 10px;
	text-shadow: #000000 0px 0px 3px;
	cursor: default;
	pointer-events: none;
}

.node > .title {
	height: 65px;
    overflow: hidden;
}

/*
	#160F19 = Licorice (Dark Background)
	#221A26 = Raisin Black (Lightest Background)
	#4F0147 = Tyrian Purple (Strongest Accent)
	#FFE2E2 = Misty Rose (Lightest Accent)
	#FFF8F0 = Floral White (Text)

*/

form {
	margin-block-end: 0em;
}

:root {
	--bgColor: #434343;
	--bgColor2: #666666;
	--acColor: #4F0147;
	--acColor2: #FFE2E2;
	--textColor: #FFF8F0;
	--linkBlue: #a6b5ff;
	--linkBlueSelf: #adb6e1;
	--augButtonStandard: #bababa;
	--augButtonActive: #ffd92c;
}

body {
	background: var(--bgColor);
	color: var(--textColor);
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	margin: 0px;
	display: flex;
	flex-direction: column;
	user-select: none;
}

header{
	padding: 10px;
	z-index: 10;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 60px;
}

#VersionString{
	top: 62px;
    left: 10px;
    font-size: 0.9em;
    position: fixed;
    pointer-events: none;
    opacity: 0.15;
}

#Content{
	display: flex;
	flex-wrap: wrap;
	overflow-y: visible;
}

#ShowFiltersButton, #DocumentViewer, #LoadingAjax, #FilterPanel {
	margin-top: 60px;
}

h1{
	margin: 0px;
}

a{
	color: var(--linkBlueSelf) !important;
}

a:hover {
	color: #808dcd;
}

iframe{
	width: 100%;
	height: inherit;
	border-style: none;
}

.insertediframe{
	background: #f6f6f6;
    border-radius: 15px;
    padding: 10px;
	height: 100%;
}

.insertediframe > #iframebacktext{
	color: var(--textColor);
	display: block;
	background: var(--bgColor);
	border-radius: 15px;
	padding: 10px;
	position: relative;
	top: -73px;
}

#Search{
	padding: 0 !important;
}

.select2-selection{
	border-radius: 15px !important;
}

.select2 {
	user-select: text;
}

svg{
	overflow: visible;
}

#EmergencyStopButtonContainer{
	bottom: 10px;
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
}

#EmergencyStopButton{
	display: none;
	margin-left: auto;
	margin-right: auto;
}

#MainNodeGraph{
	position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#ShowFiltersButton{
	z-index: 200;
    pointer-events: all;
    position: absolute;
	display: inline-block;
}

#ShowFiltersButton.btn-light{
	bottom: 10px;
    right: 10px;
}

#ShowFiltersButton.btn-danger{
	top: 15px;
    right: 15px;
}

#FilterPanel{
    transition: width 2s ease, background-color 0.5s ease, border 2s ease;
    display: inline-block;
    overflow: hidden;
    background-color: #38383800;
    border-radius: 8px;
    position: fixed;
    top: 60px;
    bottom: 0px;
    margin: 10px;
    right: 0px;
    width: 0%;
    z-index: 100;
	border: #38383800 2px solid;
}

#FilterPanel.out {
    width: 65%;
	border: black 2px solid;
    background: #383838bd;
}

#FiltersList{
	list-style-type: none;
    padding: 0;
	overflow-y: auto;
	height: 100%;
}

.DeleteFilter{
	padding: 4px;
    height: 32px;
    vertical-align: middle;
}

.select2-results__option{
	color: black;
	font-size: 12px;
}

#FiltersList > li{
	margin-top: 8px;
}

#FiltersList > li > .select2{
	width: 160px !important;
	margin-right: 8px;
}

#LoadingAjax{
	min-height: 690px;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 55%;
	transform: translate(0, -50%);
}

#LoadingAjax span{
	margin-top: 10%;
    display: inline-block;
}

.modal-title, .modal-body{
	color: black;
}

.modal{
	background: #0b0212c4;
}

.CategoryPage > #CatListBox > a{
	width: 100px;
	height: 100px;
	background: var(--bgColor2);
	border: 2px solid white;
	margin: 8px;
	border-radius: 8px;
    padding: 4px;
	font-size: small;
	word-break: break-word;
	user-select: all;
}

.CategoryPage > #CatListBox{
	flex-wrap: wrap;
	display: flex;
	user-select: none;
}

#SearchButton{
    margin-left: 10px;
}

#GraphOuter{
	position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#GraphLayout {
	height: 100%;
	margin: 0px;
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
}

header > h1 {
	display: inline-block;
	font-size: 1.75rem;
	font-family: 'Oswald', sans-serif;
	pointer-events: all;
	cursor: pointer;
}

#HeadingFilterText {
	font-size: 0.9rem;
	margin-bottom: 2px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

summary > * {
	display: inline-block;
    vertical-align: middle;
}

.select2-container {
	width: 200px !important;
}

#SearchBoxOuter {
	float: right;
	pointer-events: all;
}

#GraphLayout > #Search {
	width: min-content;
}

#GraphItemCount {
	top: 45px;
    left: 10px;
    font-size: 0.9em;
    position: fixed;
    pointer-events: none;
}

.btn:disabled{
	background-image: url("/icons/diagonal.png");
	background-size: cover;
	cursor: not-allowed;
}

/* Tooltip Stuff */

#Tooltip {
    position: absolute;
    padding: 5px;
    background: var(--bgColor2);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
	max-width: 350px;
	border: black solid 2px;
	z-index: 20;
    overflow-y: auto;
	max-height: 500px;
    pointer-events: all;
	top: -10000px;
	left: -10000px;
}


.TooltipHighlighted, .selflink{
	color: var(--linkBlueSelf) !important;
}

.TooltipTitle > .TooltipHighlighted, .TooltipTitle > .selflink{
	color: white !important;
}

.TooltipBrief.Relation > .TooltipHighlighted, .TooltipBrief.Relation > .selflink{
	color: white !important;
}

hr {
	border-top: 2.5px solid var(--linkBlue);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 20%;
    margin-left: 20%;
}

.TooltipTitle {
	font-weight: 500;
}

.TooltipBrief {
	font-style: italic;
}

.FindOutMoreText {
	font-size: 0.8rem;
	text-align: right;
}

/* Document Viewer Stuff */

#DocumentViewer{
	position: absolute;
	width: 0%;
	transition: width 0.5s, border-width 0.5s, margin 0.5s;
	transition-timing-function: ease;
    right: 0;
	bottom: 0;
    top: 0;
	user-select: text;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	max-width: 99%;
	min-width: min-content;
	z-index: 200;
	padding: 0;
	margin: 70px 10px 10px 0px;
	box-shadow: #00000024 2px 2px 5px 7px;
}

#DocumentContainer.out > #TableOfContents{
	display: block;
}

#DocumentContainer.out > #InsertedPageOuter > .insertedPage{
	margin-left: 200px;
}

#DocumentContainer{
	background: #666666ab;
    border: #757575 solid 2px;
    display: flex;
    flex: 1 0 90%;
	overflow-y: scroll;
	overflow-x: hidden;
	box-shadow: #00000026 5px 5px 4px 0px;
}

.insertedPage{
	padding: 10px;
}

.broken-link{
	color: inherit !important;
}

.broken-link:hover{
	text-decoration: none !important;
}

.firstHeading{
	display: inline-block;
}

#InsertedPageOuter{
	display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

#DocumentResizer{
	display: inline-block;
    border-left-color: #757575;
    border-left-style: solid;
    border-left-width: 6px;
    cursor: ew-resize;
    bottom: 0px;
    top: 45px;
    position: absolute;
}


/* Table of Content Stuff */

#TableOfContents{
	padding: 10px 0px 10px 10px;
	position: absolute;
    width: 200px;
	direction: ltr;
	font-size: 0.8rem;
	overflow: scroll;
	display: none; /* Starts hidden */
}

#TableOfContents::-webkit-scrollbar{
	display:none;
}

#TableOfContents > div{
	cursor: pointer;
    background: #909090;
    border: black solid 1px;
    margin-top: 5px;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Document Viewer Toolbar Stuff */

#DocumentViewerToolbar{
	padding: 5px;
	display: flex;
    justify-content: space-between;
	pointer-events: none;
	flex: 0 1 45px;
	z-index: 10;    
	background: #666666ab;
	height: 45px;
}

#ExternalLinkGroup {
    display: flex;
}

#DocumentViewerToolbar > button{
	pointer-events: all;
}

button > img{
	width: 24px;
}

#DocumentViewerToolbar > #ExternalLinkGroup > button{
	pointer-events: all;
}

#DocumentViewerToolbar > #ExternalLinkGroup > button:not(:last-child){
	margin-right: 10px;
}

#TocToggleButton{
	font-weight: 500;
}

/* Relationship Selector Stuff */
#RelationshipSelector{
    position: fixed;
	bottom: 10px;
	left: 10px;
	padding: 10px;
	--aug-b: 10px;
	--aug-b-offset: 30px;
}

.aug, .aug-clickable{
	color: var(--augButtonStandard);
	background-color: var(--augButtonStandard);
	border-radius: 8px;
	--aug-border: 2px;
    --aug-inset: 2px;
    --aug-border-bg: #666666;
    --aug-inset-bg: #666666;
    --aug-tl: 15px;
    --aug-tr: 15px;
    --aug-b: 5px;
    --aug-bl: 15px;
    --aug-br: 15px;
	--aug-t: 5px;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.aug > svg, .aug-clickable > svg{
	fill: var(--augButtonStandard);
	transition: fill 0.5s ease;
}

.aug-clickable{
	cursor: pointer;
}

.aug-clickable:hover{
	background-color: var(--linkBlueSelf);
    color: var(--linkBlueSelf);
}

.aug-clickable:hover > svg{
	fill: var(--linkBlueSelf);
}

.aug-clickable:active{
	background-color: var(--augButtonActive);
    color: var(--augButtonActive);
}

.aug-clickable:active > svg{
	fill: var(--augButtonActive);
}

.aug-clickable.disabled{
	background-image: url(/icons/diagonal.png);
    background-size: cover;
    cursor: not-allowed;
}

.aug-clickable.disabled:hover, .aug-clickable.disabled:active{
	color: var(--augButtonStandard);
	background-color: var(--augButtonStandard);
}

.aug-clickable.disabled:hover > svg, .aug-clickable.disabled:active > svg{
	fill: var(--augButtonStandard);
}

#RelationshipSelector > span{
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 1.2rem;
}

#RelationshipSelector > form > label, input[type=checkbox]{
	cursor: pointer;
}

input[type=checkbox]{
	margin-right: 5px;
	width: 1rem;
    height: 1rem;
	vertical-align: middle;
}


body.fullyloaded #BackButtonOuter{
	left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    padding: 0;
	display: inline-block !important;
}

body.fullyloaded #DocumentViewerOpenButtonOuter{
	right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    padding: 0;
	display: inline-block !important;
}

#DocumentViewerOpenButton, #BackButton{
    top: 35vh;
    width: 25vh;
    padding: 5px 0px 7.5px 0px;
    text-align: center;
    font-weight: bold;
	pointer-events: all;
	transform: rotate(-90.0deg);
	transform-origin: right bottom 0;
    margin-right: 10px;
    font-size: 0.75em;
}


#BackButton{
	transform: rotate(90.0deg);
	transform-origin: left bottom 0;
	margin-left: 10px;
}

#BackButton > svg{
	margin-bottom: 2px;
}

/*
Items removed from the new design version
*/
#GraphLayout > #Search {
	display: none !important;
}
#DocumentViewer {
	display: none;
}
#SearchBoxOuter > #SearchButton {
	display: none;
}

#rete{
	overflow: hidden; 
	width: 100% !important; 
	height: 100% !important;
}
/*--------------------
Visual filter node ports
--------------------*/
.nodePort{
	display: flex;
}

.nodePort.input{
	flex-direction: row;
}

.nodePort.output{
	flex-direction: row-reverse;
}

.portCircle{
	height: 15px;
    width: 15px;
    border-style: solid;
	border-width: 3px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
	vertical-align: middle;
    margin: 5px;
	cursor: pointer;
}
